.aboutMe{   
    display: grid;
    grid-template-columns: 10% 12% 20% 20% 20% 20%;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    color: white;
    font-family: 'woodcutter_vintage_cartoonBd';
    h1{
        font-size: 4em;

        
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    p{
        font-size: 1.5em;
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;

        align-self: end;
    }
    h2{
        font-size: 2em;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 4;
    }
}