.education{   
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: 20vh 20vh 20vh 20vh;
    color: white;
    font-family: 'woodcutter_vintage_cartoonBd';
    h1{
        font-size: 3.5em;

        
        grid-column-start: 6;
        grid-column-end: 17;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: center;
    }
    p{
        font-size: 1.8em;
        grid-column-start: 4;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 2;

        align-self: end;
    }
    h4{
        font-size: 1.8em;
        grid-column-start: 14;
        grid-column-end: 19;
        grid-row-start: 3;
        grid-row-end: 4;
        align-self: end;
    }
}