*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}
body{
    background: url("../Components/assets/background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
img{
    width: 100%;
    height: auto;
}

header{
    position: absolute;
    color: white;
}


section{
    height:fit-content;
    width: max-content;
    img{
        position: absolute;
        top:0;
        left: 0;
        max-width: 100vw;
    }
    h1 p{
        position: absolute;
        top:0;
        left: 0;
        max-width: 100vw;
    }
}




