*{
    padding: 0;
    margin: 0;
}

#root{
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-repeat: top right no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

#startGif{
    height: 100vh;
    width: 100vw;
    position: fixed;
}


#StartTxtBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;     
    transform: translate(-50%, -50%);
    

}

.startTxt{
    font-family: 'woodcutter_vintage_cartoonBd';
    color: rgb(168, 168, 168); 
}

.moveTxtBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;     
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-evenly;
}

#txtgreet{
    font-size: 1.5em;
}

#txtname{
    font-size: 3em;
}

#txtinfo{
    font-size: 1.5em;
}

