*{
    padding: 0;
    margin: 0;
}

#root{
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-repeat: top right no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

#startGif{
    height: 100vh;
    width: 100vw;
    position: fixed;
}


#startTxt{
    font-family: 'woodcutter_vintage_cartoonBd';
    color: rgb(168, 168, 168);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

