@import "startPge";
@font-face {
    font-family: 'woodcutter_vintage_cartoonBd';
    src: url('font/woodcutter_vintage_cartoon-webfont.woff2') format('woff2'),
         url('font/woodcutter_vintage_cartoon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}